.listings__grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-top: var(--font-size-x-large);
}

.listings {
  display: flex;
  flex-flow: column;
}

.listings__header > h1 {
  font-size: var(--font-size-x-large);
  margin: var(--margin-x-x-small) var(--margin-x-x-small);
}

.listings__header > h2 {
  font-size: var(--font-size-default);
  font-weight: 400;
  margin-top: var(--margin-x-x-small);
}

.listings__header > h2 > span {
  color: var(--color-primary);
}

.horizontal__separator {
  border: 0px;
  border-top: 0.5px solid var(--color-text-light);
  box-shadow: none;
  opacity: 0.5;
}

.listings__loading {
    margin-top: var(--margin-medium);
    font-size: var(--font-size-medium);
}

.listings__title {
  position: relative;
  max-height: var(--line-height-normal);
  overflow: hidden;
  padding-right: 1rem;
  margin-bottom: var(--margin-x-small);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-default);
}

.listings__price__location {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-medium);
}

.listings__price__location .listings__price {
  color: var(--color-primary);
  font-weight: var(--font-weight-600);
}

.listings__price__location .listings__location {
  color: var(--color-text-light);
  font-size: var(--font-size-small);
}

.listings__img {
  width: 100%;
  height: 16rem;
}

.listings__description {
  position: relative;
  max-height: calc(3 * var(--line-height-small));
  overflow: hidden;
  padding: 0 0.5rem 0.2rem 0rem;
  margin-bottom: var(--margin-x-small);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-default);
  margin-top: var(--margin-medium);
  font-size: var(--font-size-small);
  color: var(--color-text);
  font-weight:var(--font-weight-400);
}

.listings__buttons__container {
  margin-top: var(--margin-small);
}

.listings__buttons__container button:first-child {
    margin-right: var(--margin-small);
  }

.listings__buttons__container .cta__button {
  padding: var(--padding-x-small) var(--padding-small);
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border: none;
  border-radius: 2px;
  font-weight: var(--font-weight-600);
  cursor: pointer;
  z-index:20;
}

.listings__buttons__container .cta__button:hover{
    background-color: var(--color-primary-dark);
    color: var(--color-primary-light);

}

.truncate__text::before {
  position: absolute;
  content: "...";
  bottom: 0;
  right: 0;
}

.truncate__text::after {
  position: absolute;
  content: "";
  right: 0;
  /* missing bottom on purpose*/
  width: 1rem;
  height: 1rem;
  background: white;
}

.listings__error {
    color: var(--color-error-dark);
}

@media (min-width: 800px) {
  /* tablet */
  .listings__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  /* desktop */
  .listings__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
